---
export const prerender = true;

import BaseHead from "@components/AstroComponent/base/BaseHead.astro";
import authorConfig from "@config/siteConfig/info.json";
import NotFoundPage from "@react/error/404-Component";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Page Not Found | ${authorConfig.SiteName}`}
      description="Oops! The page you are looking for doesn't exist. It may have been moved or deleted."
    />
  </head>
  <body class="h-screen overflow-hidden bg-[#1a1b26]">
    <main class="flex h-full w-full items-center justify-center">
      <NotFoundPage client:load />
    </main>
  </body>
</html>
